* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #F0F0F0;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #08246F;
    font-weight: bold;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('./assets/images/airplane-in-sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div {
    margin-bottom: 10px;
}

input[type='text'],
input[type='number'],
select {
    width: 200px;
    padding: 5px;
}

button {
    padding: 7px 15px;
    background-color: #08246F;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1D3B8D;
}

.home-container {
    display: flex;
    height: 100vh;
}

.home-description {
    flex: 1;
    height: 100%;
    padding: 25px;
    font-size: xx-large;
    background-color: rgba(128, 128, 128, 0.5);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.search-results {
    flex: 1;
    height: 100%;
}

.info-tile {
    margin: 25px;
    padding: 25px;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-text {
    color: #FFFFFF;
    opacity: 100%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

#report,
#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
}
#result {
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#result img {
    width: 200px;
    height: 100px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
}
